.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App h1{
  font-style: italic;
  font-size: 3em;
  top: 30px;
  position: absolute;
}