@media only screen and (min-width: 1400px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App .boxes-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .App h1{
    font-style: italic;
    align-self: center;
    font-size: 3em;
    top: 30px;
    position: absolute;
  }  
}

@media only screen and (max-width: 1400px) {
  .App{
    height: 100vh;
  }

  .App .boxes-container{
    display: flex;
    justify-content: center;
  }
  
  .App h1{
    font-style: italic;
    font-size: 3em;
    text-align: center;
    top: 30px;
  }  
}