.Box{
    display: inline-block;
    min-width: 15em;
    min-height: 15em;
    border: none;
    transition: 0.3s;
}

.Box p{
    font-size: 3rem;
}

.Box{
    animation: Box-StartButton;
    animation-duration: 1s;
}

.Box:hover{
    transform: scale(1.04);
}

.Box:focus{outline: 0;}

@keyframes Box-StartButton{
    from{
        opacity: 0.4;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}